# Assignment on Store_sales dataset

**Load the Dataset**

In [7]:
import pandas as pd
store_sales_df = pd.read_csv("C:\\Users\\gajul\\Downloads\\store_sales.csv")
store_sales_df.head()

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
0,S_1,Texas,8,20,13,21,17,20,24,17,16,9,7,6
1,S_2,California,12,19,15,15,11,19,7,15,10,11,21,19
2,S_3,California,16,16,14,19,23,6,13,13,15,14,24,8
3,S_4,Texas,8,18,13,10,14,14,6,8,8,18,7,11
4,S_5,Texas,19,5,24,9,5,24,10,5,24,15,6,13

**Calculate the total sales for each store across all months.**

In [9]:
store_sales_df['Total_Sales'] = store_sales_df.iloc[:, 2:].sum(axis=1)
total_sales = store_sales_df[['store_id', 'Total_Sales']]
print(total_sales)

   store_id  Total_Sales
0       S_1          178
1       S_2          174
2       S_3          181
3       S_4          135
4       S_5          159
..      ...          ...
95     S_96          185
96     S_97          154
97     S_98          168
98     S_99          173
99    S_100          180

[100 rows x 2 columns]

**Find the average sales for each month across all stores**

In [65]:
average_sales = store_sales_df.iloc[:, 2:].mean()
print(average_sales)

Jan             14.46
Feb             15.09
Mar             14.56
Apr             14.57
May             13.56
Jun             13.80
July            14.38
Aug             15.81
Sep             14.91
Oct             14.10
Nov             15.31
Dec             13.57
Total_Sales    348.24
dtype: float64

**Identify the store with the highest total sales.**

In [59]:
store_sales_df['Total_Sales'] = store_sales_df.iloc[:, 2:].sum(axis=1)
highest_sales_store = store_sales_df.loc[store_sales_df['Total_Sales'].idxmax(), ['store_id', 'Total_Sales']]
print(highest_sales_store)

store_id       S_62
Total_Sales     428
Name: 61, dtype: object

**Calculate the total sales for each city.**

In [57]:
total_sales_by_city = store_sales_df.groupby('city').sum().iloc[:, 2:].sum(axis=1)
print(total_sales_by_city)

city
Arizona        7561
California    14410
Texas         11407
dtype: int64

**List stores with total sales greater than 200**

In [55]:
store_sales_df['Total_Sales'] = store_sales_df.iloc[:, 2:].sum(axis=1)
stores_greater_than_200 = store_sales_df[store_sales_df['Total_Sales'] > 200]
print(stores_greater_than_200[['store_id', 'Total_Sales']])

   store_id  Total_Sales
37     S_38          207
39     S_40          204
50     S_51          210
61     S_62          214
69     S_70          206
72     S_73          213
77     S_78          211
85     S_86          214
86     S_87          203
92     S_93          204

**Which month had the highest average sales across all stores?**

In [45]:
average_sales = store_sales_df.iloc[:, 2:].mean()
highest_average_sales_month = average_sales.idxmax()
highest_average_sales_value = average_sales.max()
print(f"The month with the highest average sales across all stores is {highest_average_sales_month} with an average sales of {highest_average_sales_value:.2f}.")

The month with the highest average sales across all stores is Aug with an average sales of 15.81.

**Which city generated the most revenue?**

In [47]:
total_sales_by_city = store_sales_df.groupby('city').sum().iloc[:, 2:].sum(axis=1)
highest_sales_city = total_sales_by_city.idxmax()
highest_sales_value = total_sales_by_city.max()
print(f"The city with the highest total sales is {highest_sales_city} with total sales of {highest_sales_value}.")

The city with the highest total sales is California with total sales of 6888.