## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [ ]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

In [23]:
auto = pd.read_csv(r"C:\Users\gajul\Downloads\Automobile.csv")
auto

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

**Check the head of the DataFrame.**

In [25]:
auto.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**How many rows and columns are there?**

In [27]:
rows, columns = auto.shape
print(f"The dataset has {rows} rows and {columns} columns.")

The dataset has 201 rows and 26 columns.

**What is the average Price of all cars in the dataset?**

In [29]:
auto['price'] = pd.to_numeric(auto['price'], errors='coerce')
average_price = auto['price'].mean()
print(f"The average price of all cars is: {average_price:.2f}")

The average price of all cars is: 13207.13

**Which is the cheapest make and costliest make of car in the lot?**

In [35]:
auto['price'] = pd.to_numeric(auto['price'], errors='coerce')
auto = auto.dropna(subset=['price'])
sorted_auto = auto.sort_values(by='price', ascending=True)
cheapest_car = sorted_auto.iloc[0]
print(f"The cheapest car is made by {cheapest_car['make']} and costs {cheapest_car['price']}.")

The cheapest car is made by subaru and costs 5118.

In [33]:
costliest_car = sorted_auto.iloc[-1]
print(f"The costliest car is made by {costliest_car['make']} and costs {costliest_car['price']}.")

The costliest car is made by mercedes-benz and costs 45400.

**How many cars have horsepower greater than 100?**

In [37]:
auto['horsepower'] = pd.to_numeric(auto['horsepower'], errors='coerce')
auto = auto.dropna(subset=['horsepower'])
num_cars = (auto['horsepower'] > 100).sum()
print(f"The number of cars with horsepower greater than 100 is: {num_cars}")

The number of cars with horsepower greater than 100 is: 90

**How many hatchback cars are in the dataset ?**

In [43]:
num_hatchbacks = (auto['body_style'] == 'hatchback').sum()
print(f"The number of hatchback cars in the dataset is: {num_hatchbacks}")

The number of hatchback cars in the dataset is: 68

**What are the 3 most commonly found cars in the dataset?**

In [55]:
most_common_cars = auto['make'].value_counts().head(3)
print("The 3 most commonly found cars in the dataset are:")
print(most_common_cars)

The 3 most commonly found cars in the dataset are:
make
toyota    32
nissan    18
mazda     17
Name: count, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [57]:
car_details = auto[auto['price'] == 7099]

if not car_details.empty:
    print("The make of the car purchased for 7099 is:", car_details['make'].values[0])
else:
    print("No car was found with the price of 7099.")

The make of the car purchased for 7099 is: nissan

**Which cars are priced greater than 40000?**

In [66]:
auto['price'] = pd.to_numeric(auto['price'], errors='coerce')
auto = auto.dropna(subset=['price'])
expensive_cars = auto[auto['price'] > 40000]
if not expensive_cars.empty:
    print("Cars priced greater than 40,000:")
    print(expensive_cars[['make', 'price']])
else:
    print("No cars are priced greater than 40,000.")

Cars priced greater than 40,000:
             make  price
15            bmw  41315
70  mercedes-benz  40960
71  mercedes-benz  45400

**Which are the cars that are both a sedan and priced less than 7000?**

In [76]:
auto['price'] = pd.to_numeric(auto['price'], errors='coerce')
auto = auto.dropna(subset=['price', 'body_style'])
sedans_under_7000 = auto[(auto['body_style'] == 'sedan') & (auto['price'] < 7000)]
if not sedans_under_7000.empty:
    print("Cars that are both sedans and priced less than 7000:")
    print(sedans_under_7000[['make', 'body_style', 'price']])
else:
    print("No sedans are priced less than 7000.")

Cars that are both sedans and priced less than 7000:
           make body_style  price
19    chevrolet      sedan   6575
24        dodge      sedan   6692
42        isuzu      sedan   6785
50        mazda      sedan   6695
82   mitsubishi      sedan   6989
86       nissan      sedan   5499
88       nissan      sedan   6649
89       nissan      sedan   6849
118    plymouth      sedan   6692
152      toyota      sedan   6938

 **Count the number of unique values in the `fuel_type` column.**

In [82]:
unique_fuel_types = auto['fuel_type'].nunique()
print(f"The number of unique values in the fuel-type column is: {unique_fuel_types}")

The number of unique values in the fuel-type column is: 2

**List all the cars that have a horsepower between 100 and 200, and display their `make`, `horsepower`, and `price`.**

In [86]:

auto['horsepower'] = pd.to_numeric(auto['horsepower'], errors='coerce')
auto = auto.dropna(subset=['horsepower'])
cars = auto[(auto['horsepower'] >= 100) & (auto['horsepower'] <= 200)]
cars[['make', 'horsepower', 'price']]

            make  horsepower  price
0    alfa-romero         111  13495
1    alfa-romero         111  16500
2    alfa-romero         154  16500
3           audi         102  13950
4           audi         115  17450
..           ...         ...    ...
196        volvo         114  16845
197        volvo         160  19045
198        volvo         134  21485
199        volvo         106  22470
200        volvo         114  22625

[88 rows x 3 columns]

**Find the average `city_mpg` and `highway_mpg` for each `body_style`.**

In [90]:
average_mpg = auto.groupby('body_style')[['city_mpg', 'highway_mpg']].mean()
print(average_mpg)

              city_mpg  highway_mpg
body_style
convertible  20.500000    26.000000
hardtop      21.625000    27.250000
hatchback    26.602941    32.382353
sedan        25.053191    30.574468
wagon        24.040000    28.720000

**What is the median `price` for each `make`?**

In [92]:
median_price = auto.groupby('make')['price'].median()
print(median_price)

make
alfa-romero      16500.0
audi             17580.0
bmw              22835.0
chevrolet         6295.0
dodge             7609.0
honda             7295.0
isuzu             8916.5
jaguar           35550.0
mazda            10595.0
mercedes-benz    32892.0
mercury          16503.0
mitsubishi        8499.0
nissan            8124.0
peugot           16630.0
plymouth          7609.0
porsche          33278.0
renault           9595.0
saab             15275.0
subaru            7894.0
toyota            9103.0
volkswagen        9737.5
volvo            18420.0
Name: price, dtype: float64

**List all cars that have a `wheel_base` greater than 100 and a `curb_weight` less than 2500.**

In [94]:
auto['wheel_base'] = pd.to_numeric(auto['wheel_base'], errors='coerce')
auto['curb_weight'] = pd.to_numeric(auto['curb_weight'], errors='coerce')
auto = auto.dropna(subset=['wheel_base', 'curb_weight'])
filtered_cars = auto[(auto['wheel_base'] > 100) & (auto['curb_weight'] < 2500)]
print(filtered_cars[['make', 'wheel_base', 'curb_weight']])

       make  wheel_base  curb_weight
9       bmw       101.2         2395
10      bmw       101.2         2395
169  toyota       102.4         2326
170  toyota       102.4         2480
171  toyota       102.4         2414
172  toyota       102.4         2414
173  toyota       102.4         2458

**Create a new column `price_per_hp` that calculates the price of the car per horsepower.**

In [96]:
auto['price'] = pd.to_numeric(auto['price'], errors='coerce')
auto['horsepower'] = pd.to_numeric(auto['horsepower'], errors='coerce')
auto = auto.dropna(subset=['price', 'horsepower'])
auto['price_per_hp'] = auto['price'] / auto['horsepower']
print(auto[['make', 'price', 'horsepower', 'price_per_hp']])

            make  price  horsepower  price_per_hp
0    alfa-romero  13495         111    121.576577
1    alfa-romero  16500         111    148.648649
2    alfa-romero  16500         154    107.142857
3           audi  13950         102    136.764706
4           audi  17450         115    151.739130
..           ...    ...         ...           ...
196        volvo  16845         114    147.763158
197        volvo  19045         160    119.031250
198        volvo  21485         134    160.335821
199        volvo  22470         106    211.981132
200        volvo  22625         114    198.464912

[201 rows x 4 columns]

**Count how many cars have a `number_of_doors` as `four`.**

In [98]:
auto['number_of_doors'] = auto['number_of_doors'].astype(str)
count_four_doors = auto[auto['number_of_doors'] == 'four'].shape[0]
print(f"Number of cars with four doors: {count_four_doors}")

Number of cars with four doors: 114

**Find the top 5 cars based on their `highway_mpg` and `price`.**

In [102]:
top_5_cars = auto.sort_values(by=['highway_mpg', 'price'], ascending=[False, False])
top_5_cars = top_5_cars.head(5)
print(top_5_cars[['make', 'highway_mpg', 'price']])

          make  highway_mpg  price
29       honda           54   6479
17   chevrolet           53   5151
87      nissan           50   7099
155     toyota           47   7788
156     toyota           47   7738

**How many cars have missing values in the `normalized_losses` column?**

In [106]:
missing_values_count = auto['normalized_losses'].isnull().sum()
print(f"Number of cars with missing values in 'normalized_losses': {missing_values_count}")

Number of cars with missing values in 'normalized_losses': 0

**Create a new column `car_age` that calculates the age of the car based on the `year_of_manufacture` (assume the current year is 2025).**

In [108]:
auto['year_of_manufacture'] = pd.to_numeric(auto['year_of_manufacture'], errors='coerce')
auto['car_age'] = 2025 - auto['year_of_manufacture']
print(auto[['make', 'year_of_manufacture', 'car_age']])

KeyError: 'year_of_manufacture'

### The END